@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    border: 10px solid #ccc;
    border-top: 10px solid #641885;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.heading {
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom: 2px solid #641885;
    padding-bottom: 10px;
}

.search {
    margin-bottom: 50px;
}

.input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}

@keyframes appear {
    0% {
        opacity: .4;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    animation: appear .25s linear;
}

.title {
    font-size: 26px;
    margin-bottom: 30px;
}

.card {
    width: 20%;
    box-shadow: 0px 0px 10px 0px #ccc;
    margin-bottom: 40px;
    margin-right: 6.66%;
    border-radius: 10px;
    text-align: center;
}

.main {
    padding: 30px 40px 0px 40px;
    box-sizing: border-box;
}

.card:nth-child(4n) {
    margin-right: 0;
}

.main > img {
    width: 90%;
    margin-bottom: 30px;
}

.name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    margin-top: 30px;
}

.buttons > button {
    width: 50%;
    border: none;
    border-top: 3px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
    background: #fff;
    transition: all .3s;
}

.buttons > button:first-child {
    border-right: 2px solid #ccc;
    border-bottom-left-radius: 10px;
}

.buttons > button:last-child {
    border-left: 2px solid #ccc;
    border-bottom-right-radius: 10px;
}

.icon {
    font-size: 40px;
    z-index: 5;
}

.absent:hover {
    background: red;
    color: #fff;
}

.present:hover {
    background: #00ff00;
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .card {
        width: 40%;
        margin-right: 10%;
        margin-left: 5%;
    }
    .card:nth-child(4n) {
        margin-right: 10%;
        margin-left: 10%;
    }
    .card:nth-child(2n) {
        margin-right: 5%;
        margin-left: 0;
    }
}

@media screen and (max-width: 630px) {
    .item {
        justify-content: center;
    }
    .card {
        width: 80%;
        margin-right: 0;
        margin-left: 0;
    }
    .card:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 360px) {
    .card {
        width: 100%;
    }
}