.form {
    display: flex;
    justify-content: center;
}

.block {
    width: 500px;
}

.heading {
    margin-bottom: 30px;
    font-size: 26px;
}

.block {
    margin-bottom: 30px;
}

.item {
    margin-bottom: 20px;
}

.input {
    outline: none;
    -webkit-appearance: none;
    -webkit-border: 3px solid #641885;
    border: 3px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    color: #000;
    font-size: 16px;
}

.input::placeholder {
    color: #999;
}

.input:focus::placeholder {
    color: #fff;
}

.relative {
    position: relative;
}

.select {
    outline: none;
    -webkit-appearance: none;
    -webkit-border: 3px solid #641885;
    border: 3px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    color: #000;
    font-size: 16px;
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: rotate(90deg) translateX(-50%);
}

.submit {
    margin-top: 20px;
    border: none;
    background: #641885;
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}