@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    border: 10px solid #ccc;
    border-top: 10px solid #641885;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.heading {
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom: 2px solid #641885;
    padding-bottom: 10px;
}

.block {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.course {
    width: 48%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #ccc;
    margin-bottom: 40px;
    margin-right: 4%;
    border-radius: 10px;
    border-top: 10px solid #641885;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;
}

@keyframes appear {
    0% {
        opacity: .4;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.course:nth-child(1) {
    animation: appear .3s linear;
}

.course:nth-child(2) {
    animation: appear .5s linear;
}

.course:nth-child(3) {
    animation: appear .7s linear;
}

.course:nth-child(2n) {
    margin-right: 0;
}

.title {
    font-size: 27px;
    margin-bottom: 20px;
}

.duration {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.duration > span {
    margin: 0 7px;
}

.icon {
    color: #641885;
}

.logo > img {
    width: 104px;
}

.description {
    display: none;
    width: 100%;
    transition: all .2s linear;
}

.description.active {
    display: block;
    margin-top: 20px;
    transition: all .2s linear;
}

.disabled {
    filter: grayscale(1);
}

@media screen and (max-width: 850px) {
    .course {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 420px) {
    .course {
        flex-direction: column-reverse;
        text-align: center;
    }
    .info {
        margin-top: 20px;
    }
}