@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    border: 10px solid #ccc;
    border-top: 10px solid #641885;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.heading {
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom: 2px solid #641885;
    padding-bottom: 10px;
}

@keyframes appear {
    0% {
        opacity: .4;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.block {
    animation: appear .25s linear;
}

.item {
    display: none;
    flex-wrap: wrap;
}

.item.active {
    display: flex;
}

.title {
    width: 100%;
    font-size: 26px;
    margin-bottom: 30px;
}

.card {
    width: 22.75%;
    padding: 30px 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #ccc;
    margin-bottom: 30px;
    margin-right: 3%;
    border-radius: 10px;
    text-align: center;
}

.card:nth-child(5n) {
    margin-right: 0;
}

.card > img {
    width: 90%;
    margin-bottom: 30px;
}

.card > button {
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
    outline: none;
    float: right;
    transform: translateX(10px);
}

.name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.course {
    font-size: 20px;
}

.tabs {
    margin-bottom: 30px;
    display: flex;
    background: #641885;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tab {
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tab.active {
    color: #fff;
    border-bottom: 5px solid yellow;
}

@media screen and (max-width: 1100px) {
    .item {
        flex-wrap: wrap;
    }
    .card {
        width: 40%;
        margin-right: 10%;
        margin-left: 5%;
    }
    .card:nth-child(5n) {
        margin-right: 5%;
        margin-left: 0;
    }
    .card:nth-child(3n) {
        margin-right: 5%;
        margin-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .tabs {
        flex-wrap: wrap;
    }
    .tab {
        width: 50%;
    }
}

@media screen and (max-width: 650px) {
    .item {
        justify-content: center;
    }
    .card {
        width: 80%;
        margin-right: 0;
        margin-left: 0;
    }
    .card:nth-child(5n) {
        margin-right: 0;
        margin-left: 0;
    }
    .card:nth-child(3n) {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 520px) {
    .tab {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .card {
        width: 100%;
        margin-right: 0;
    }
}