@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    border: 10px solid #ccc;
    border-top: 10px solid #641885;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.heading {
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom: 2px solid #641885;
    padding-bottom: 10px;
}

.timeline {
    max-width: 100% !important;
    width: 100% !important;
}

.timeline::before {
    background: #641885 !important;
}

.colored {
    color: #641885 !important;
}

.date {
    color: #641885;
    font-weight: bold !important;
}

.circle {
    display: grid;
    place-items: center;
}

.icon {
    color: #fff;
    font-size: 40px;
}

.created {
    font-weight: bold !important;
}

.created > span {
    margin-left: 5px;
}

@media screen and (max-width: 1170px) {
    .white {
        color: #fff !important;
    }
    .icon {
        font-size: 30px;
    }
}