.auth {
    height: 100vh;
    background: #641885;
    display: grid;
    place-items: center;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, .5);
    cursor: pointer;
    z-index: 10;
}