@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Commissioner', sans-serif;
    user-select: none;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}